html {
    scroll-behavior: smooth;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 134px;
    background-color: #EDF2EC;
    padding-right: 110px;
    padding-left: 110px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    box-sizing: border-box;
    width: 452px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #010201;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 264px);
}

.container {
    box-sizing: border-box;
}

.section {
    border: 1px solid blue;
    flex-grow: 1;
    
    box-sizing: border-box;
    display: flex;
    padding: 62px 109px;
    justify-content: space-between;
}

#welcome {
    background-color: #EDF2EC;
}

.button {
    box-sizing: border-box;
    border-style: solid;
    border-color: #E06733;
}

.description-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 550px;
    height: 340px;
}

.button-learn-more {
    border-width: 2px;
    border-radius: 10px;
    width: 158px;
    height: 44px;
}

#about .description-container {
    order: -1;
    width: 605px;
    height: 350px;
}

#service {
    background-color: #EDF2EC;
    flex-direction: column;
}

.services-content {
    border: 3px solid red;
    display: flex;
    flex-direction: row;
}

.services {
    border: 1px solid green;

    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    border: 1px solid gray;
    display: inline-block;
    align-items: center;
}

.footer-content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    margin: 40px 109px;
}

.footer-data {
    box-sizing: border-box;
    width: 182px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gh-link {
    text-decoration: none;
    color: #010201;
}

.rsschool-link {
    text-decoration: none;
    color: #010201;
}

.social-list{
    box-sizing: border-box;
    /*width: 188px;*/
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.social-item {
    margin: 0 20px;
}